body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #eff2f6;
}


.top{
    width: 95%;
    margin: 24px 0  16px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.top h1 {
    font-size: 24px;
    font-weight: 800;
    margin: 0;
}


.character img {
    width: 240px;
    height: auto;
}

#nutrientsInput{
    width: 100%;
}

.nutInputWrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

.highlight {
    text-decoration: underline;
    text-decoration-thickness: 0.5em;
    text-decoration-color: rgba(197, 178, 8, 0.4);
    text-underline-offset: -0.2em;
    text-decoration-skip-ink: none;
}

.nutInput {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    outline: none;
    padding: 8px;
}

.nutInput p {
    margin: 2px 0;
    padding: 0;
    font-size: 18px;
    font-weight: 800;
    color: #c28e74;
}

button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #856ae7;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

/* 結果の表全体。*/
/* ? なぜ日曜日分の横に余白ができるのか そして横幅がうまく縮小しない */
/* →なぜか朝昼晩のラベル分の箱が右側にできてた。こういう作りのときはGridが向いているらしい */
/* 若干考えるのが難しかったので、ラベルもレシピの一つの列として対応 */

/** 結果部分全体に対してのやつ */
#mealPlanWrapper {
    /* Flexboxは朝昼晩ラベル含めた縦長の箱に対して指示 */
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 8px;
    width: 95%;
    margin: auto;
}

/** 朝昼晩のラベル */
.mealTimeLabels {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 先頭から配置を始める */
    align-items: center; /* 文字を水平方向の中央に配置 */
    /* 固定幅を与える */
    /* flex: 0 0 auto;  */
    /*? なぜか高さが100%でうまくいかないので仕方なく絶対指定する  */
    /* height: 100%; */
    height: 736px;
    width: 3%; 
    padding: 8px 0 0 0; 
    font-size: 18px;
    font-weight: 800;
    color: #c28e74;
}

/* .dayLabelクラスが適用されていない.mealTimeLabelsの子div要素 */
.mealTimeLabels > div:not(.dayLabel) {
    flex-grow: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/** 曜日のラベル */
.dayLabel {
    text-align: center;
    height: 24px;
    font-size: 18px;
    font-weight: 800;
    color: #c28e74;
    margin: 8px 0;
}

/**曜日ごとの献立が入っているやつ。*/
.dayPlan {
    /* 曜日ラベルと朝昼晩のレシピを縦に並べる*/
    flex: 1; /* 朝昼晩ラベル以外の残りのスペースを均等に分割 */
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 0; /* Flex項目が縮小できるようにする */
}

/** 1日分のレシピが入っているやつ */
.mealCard {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .16);
    color: #212121;
    text-decoration: none;    border-radius: 5px;
    padding: 8px 0;
    height: 100%;
}

.mealCard:hover {
    transform: translateY(-3px);
    box-shadow: 0 7px 14px #e2b2ce, 0 3px 6px #e2b2ce;
    transition: all .5s;
}

.mealCard h3 {
    margin: 0px 8px 8px;
    font-size: 14px;
    font-weight: 800;
    /* タイトルが長すぎる場合の処理 */
    /* 改行の禁止 */
    white-space: nowrap;
    /* はみ出した部分を隠す */
    overflow: hidden;
    /* はみ出し部分を省略 */
    text-overflow: ellipsis;
}

.mealCard p {
    margin: 4px 8px;
    font-size: 12px;
    font-weight: 800;
}

.mealCard img {
    width: 100%;
    height: 80px;
    object-fit: cover;
}